/*
Colors used:
Primary Color (Blue): #14389a;
Seconday Color (Gold): #FFCC68;
Third Color (White): #FFFFFF;
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

header {
  background-color: #FFCC68;
  padding: 10px;
  margin: 10px;
  border: 3px solid #14389a;
  position: relative
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.78);
  -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.78);
  box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.78);
}

footer {
  background-color: #FFCC68;
  padding: 10px;
  margin: 10px;
  border: 3px solid #14389a;
  position: relative
}

img {
  width: 50%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #14389a;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #FFCC68;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #FFCC68;
}

a:hover,
a:focus {
  color: #FFCC68;
  text-decoration: underline;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #14389a;
  color: #FFCC68;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #14389a;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #14389a;
  text-transform: uppercase;
  border: 2px solid #14389a;
}

.button.contact:hover {
  background-color: #14389a;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}
#work .row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#hero h1 {
  text-align: center; /* Centers text */
}
.logo {
  max-width: 250px;
  text-align: center;
  padding: 10px 0;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
#hero {
  background-color: #FFCC68;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
main {
  padding-top: 133px;
}
